.container {
  margin: 2rem auto;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    gap: 1rem;

    .full-width {
      width: 20rem;
    }
  }

  .loading {
    margin: 20rem auto;
  }
}
