.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .transactions-container {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border: 1px solid #e0e0e0;
    padding: 0 2.5rem;
    width: 50%;
  }
  .title {
    padding: 0 1rem;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
  }
}
