<section class="container">
  <mat-card class="card" appearance="raised">
    <mat-card-header>
      <mat-card-title>Transfer money</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="form" [formGroup]="this.transferForm">
        <mat-form-field>
          <mat-label>Sender account</mat-label>
          <mat-select [formControl]="this.transferForm.controls.senderId">
            @for (account of accounts(); track account.id) {
              <mat-option [value]="account.id">{{ account.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Receiver account</mat-label>
          <mat-select [formControl]="this.transferForm.controls.receiverId">
            @for (account of otherAccounts(); track account.id) {
              <mat-option [value]="account.id">{{ account.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field floatLabel="always">
          <mat-label>Amount</mat-label>
          <input matInput type="number" placeholder="0" [formControl]="this.transferForm.controls.amount"/>
          <span matTextPrefix>$&nbsp;</span>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Note</mat-label>
          <textarea matInput [formControl]="this.transferForm.controls.note"></textarea>
        </mat-form-field>
        <button matButton="filled"
                type="submit"
                [disabled]="!this.transferForm.valid"
                [routerLink]="['/', 'accounts', id()]"
                (click)="this.onSubmit()">Transfer
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</section>
