.page-container {
  background: white;
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  padding: 0 2.5rem;
  .accounts-container {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    width: 100%;
  }

  .title {
    padding: 0 1rem;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
  }

  .btn-reload {
    background: transparent;
    border: 2px solid #444;
    border-radius: 0.5rem;
    color: #444;
    padding: 5px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;

    &:hover {
      background: #444;
      color: #fff;
    }
  }
}
