<section class="container">
  <div class="header">
    <div class="title">
      <h2>My Accounts</h2>
    </div>
    <button matButton="filled" (click)="this.reload()">
      <mat-icon>refresh</mat-icon>
      Reload
    </button>
  </div>
  @if (loading()) {
    <mat-spinner class="loading"></mat-spinner>
  } @else {
    <mat-nav-list>
      @for (account of this.accounts(); track account.id) {
        <a
          mat-list-item
          [routerLink]="['/', 'accounts', account.id]">
          <mat-icon matListItemIcon>credit_card</mat-icon>
          <span matListItemTitle>{{ account.name }}</span>
          <span matListItemLine>{{ account.number | maskCardNumber }}</span>
          <div matListItemMeta>
            <span>{{ account.balance | currency: 'EUR' }}</span>
          </div>
        </a>
      } @empty {
        <h3>There are no accounts.</h3>
      }
    </mat-nav-list>
  }
</section>
